.navbar {
	width: 1120px;
	height: 43px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 999;
	padding-top: 40px;
	transition: 0.4s ease;

	.logo {
		display: flex;
		align-items: center;
		gap: 10px;
		color: #1572d3;
		font-family: Poppins;
		font-weight: 600;
		font-style: 'SemiBold';
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 48px;
		transition: 0.4s ease;

		li {
			position: relative;
			cursor: pointer;

			a {
				color: #484848;
				font-family: Poppins;
				font-weight: 500;
				font-style: Medium;
				font-size: 16px;
				line-height: 150%;
				letter-spacing: 0%;
				text-decoration: none;

				transition: color 0.3s ease;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -6px;
				width: 0;
				height: 3px;
				background-color: #1572d3;
				transition: width 0.3s ease;
			}

			&:hover::after {
				width: 100%;
			}

			&.active-blink::after {
				width: 100%;
			}

			&.active-blink a {
				color: #1572d3 !important;
				animation: blink 1s ease;
			}
		}
	}

	.buttons {
		display: flex;
		gap: 10px;

		[type='secondary'] {
			background: transparent;
			color: #484848;
			font-weight: 600;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				background: #1572d3;
				color: #ffffff;
			}
		}
	}

	.desktop-btn {
		display: block;
	}

	.mobile-btn {
		display: none;
	}

	.hamburger {
		display: none;
		flex-direction: column;
		gap: 6px;
		cursor: pointer;
		transition: 0.3s;

		span {
			width: 28px;
			height: 3px;
			background: #fff;
			transition: 0.3s;
		}

		&.active span:nth-child(1) {
			transform: rotate(765deg) translate(5px, 5px);
		}

		&.active span:nth-child(2) {
			opacity: 0;
		}

		&.active span:nth-child(3) {
			transform: rotate(-765deg) translate(5px, -5px);
		}
	}
}

@keyframes blink {

	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 1;
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 0;
	}
}